/* start-css-from rtl-generator - [https://github.com/hasanhameed07/rtl-generator] */

/* original-file: margin.css */
.rtl .margin-of-four {
    margin: 0 20px 40px 10px!important;
}

.rtl .margin-right {
    margin-left: 5px !important;
    margin-right: unset !important;
}

.rtl .margin-left {
    margin-right: 10px !important;
    margin-left: unset !important;
}

.rtl .margin-both {
    margin-right: 5px !important;
    margin-left: 10px !important;
}
/* end-of-css-from rtl-generator original-file: margin.css */